.hero {
	margin-top: 2%;
	padding: 0% 8%;
	display: flex;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	overflow: hidden;
}



.list {
	list-style-type: none;
}

.listItem {
	width: 200px;
	color: black;
	margin-bottom: 16px;
}

li a {
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	color: black;
}

li:hover a {
	font-weight: 700;
}

.arrowIcon {
	content: url('../../assets/DropDown.svg');
	display: none;
	width: 20px;
	height: 20px;
	margin-bottom: 2px;
	margin-left: 5px;
	vertical-align: middle;
}

li:hover .arrowIcon {
	display: inline-block;
}

.slider {
	max-width: 1300px;
	display: flex;
	justify-content: center;
}

.slide {
	width: 100%;
}

.slide img {
	height: auto;
	object-fit: cover;
}

.error {
	color: #DB4444;
	text-align: center;
	font-weight: 700;
	font-size: xx-large;
}