.card {
	box-sizing: border-box;
	padding: 15px 15px;
	border-radius: 5%  !important;
	box-shadow: 0px 25px 32px 0px rgba(67, 67, 67, 0.14)  !important;
	background-color: #fbe1e1 !important;
	transition: all 200ms !important;
	cursor: pointer  !important;
	z-index: 1;
}

.title, .price {
	color: black;
}

.card:hover {
	transform: scale(1.2);
	z-index: 2;
}

.descr {
	padding-bottom: 5px !important;
}



