.wrapper {
	margin-top: 3%;
	padding: 0 11% 0 10%;
}

.header {
	display: grid;
	display: flex;
	justify-content: space-between;
	margin-bottom: 5%;
	padding: 0 10px;
}

.headerItem {
	width: 250px;
	text-align: center;
}

